<div class="container-fluid">
    <h2 style="text-align: center;">CONTACT ME</h2>
    <p>123-456-7890 / info@mysite.com <br> 500 Terry Francois Street San Francisco, CA 94158

    </p>
    <form>
        <div class="form-row">
            <div class="col-2">
                <input type="text" class="form-control mb-2" id="validation01" placeholder="Name" required>
                <input type="text" class="form-control mt-2" id="validation01" placeholder="Email" required>
                <input type="text" class="form-control mt-2" id="validation01" placeholder="Subject" required>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <textarea class="form-control rounded-0 mt-4" id="exampleFormControlTextarea2" rows="5"
                        placeholder="Message"></textarea>
                    <!-- <button type="button" class="btn btn-secondary btn-lg ">Submit</button> -->
                </div>
            </div>
        </div>
        <!-- <button type="button" class="btn btn-secondary btn-lg ">Submit</button> -->
    </form>
</div>