<div class="container-fluid">
    <h2 style="text-align: center;">CONTACT ME</h2>
    <p>123-456-7890 / info@mysite.com <br> 500 Terry Francois Street San Francisco, CA 94158

    </p>
    <form>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <input type="text" class="form-control" id="validation01" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="validation01" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="validation01" placeholder="Name" required>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="5"
                        placeholder="Message"></textarea>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-secondary btn-lg">Submit</button>
                </div>
            </div>
        </div>


    </form>
</div>